{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Alfabetización Financiera
{% endblock %}

{% block content %}

<ol>
    <li class="mb-3">
        <p>Si compras una bebida por 60 pesos y pagas con un billete de cien pesos, </p>
        {% formfield player.fin_change %}
    </li>

    <li class="mb-3">
        <p>Si 5 personas tienen los números ganadores en la lotería y el premio es de 2 millones de pesos,</p>
        {% formfield player.fin_lottery %}
    </li>

    <li class="mb-3">
        <p>En una venta, una tienda está vendiendo todos los artículos a mitad de precio. Antes de la venta, un sofá cuesta 3000 pesos. </p>
        {% formfield player.fin_sale %}
    </li>

    <li class="mb-3">
        <p>Si la probabilidad de contraer una enfermedad es del 10 por ciento, </p>
        {% formfield player.fin_disease %}
    </li>

    <li class="mb-3">
        <p>Un vendedor de coches usados está vendiendo un coche por 120,000 pesos. Esto es dos tercios de lo que costó nuevo. </p>
        {% formfield player.fin_cardealer %}
    </li>

    <li class="mb-3">
        <p>Digamos que tienes 4,000 pesos en una cuenta de ahorros. La cuenta genera un 10% de interés por año. </p>
        {% formfield player.fin_interest %}
    </li>
</ol>

{% next_button %}

{% endblock %}