{% extends "global/Page.html" %}
{% block title %}Introduction to Hedging Study{% endblock %}
{% block content %}
    <div class="container">
        <p> Welcome to our study on Hedging. This study will take approximately 30 minutes to complete and consists of 45 rounds. Your payment will be based on your performance throughout the experiment.</p>

        <p>Your main task is to decide how to allocate your assets between Lottery 1 and Lottery 2 in each round. Consider the potential outcomes and their probabilities carefully to make your decision.</p>
        <p>At the end of the experiment, one of the 45 lottery rounds will be randomly selected for each participant.</p>
        <p> The participant's investment decision (alpha value) for that specific round will be applied to the actual outcome of the selected lottery.</p>
        <p> Based on this result, the participant will receive an additional payment ranging from -30 MXN to 50 MXN.</p>


        <p>Your final payment will be based on your performance across all 45 rounds, so make each decision thoughtfully.</p>


        {% next_button %}
    </div>
{% endblock %}