{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Practice Round
{% endblock %}

{% block content %}



<div class="container">

    <ul style="font-size: 1.25rem; line-height: 1.5;">

<li>Before we begin the main task, we'll start with a practice round to help you familiarize yourself with the interface and the decision-making process.</li>
<li>These practice rounds are designed to give you a feel for how the experiment works, without affecting your final results or earnings.</li>
<li>Feel free to explore and ask questions during this phase.</li>
<li>When you're ready to begin the practice rounds, please click the "Next" button below.</li>

            </ul>

    {% next_button %}
</div>

{% endblock %}


