{% extends "global/Page.html" %}
{% block title %} Payment Information {% endblock %}
{% block content %}
    <div class="container">
        <ul style="font-size: 1.25rem; line-height: 1.5;">
            <li> You will receive an initial endowment of $18.</li>

            <li> Your final payment is determined by: </li>
               <ul><strong> Endowment + Potential Outcome </strong>.</ul>

            <li> Note that your choices may lead to losses, potentially reducing your final payment.</li>

<li> Next few pages contains examples and a practice round to familiarize you with "How this works." </li>
                 <li> The examples have outcomes from the main tasks. </li>
                 <li> Take your time and make sure you understand "How it works".</li>
   </ul>
        {% next_button %}
    </div>
{% endblock %}